<!DOCTYPE HTML>
<html>
	<head>
    <meta charset="utf-8" />
    <title>PriCoSha</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Unica+One" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js"></script>
	  <style>
    	body {
    		background: #EFEFEF;
        margin, padding: 0;
    	}

    	#header {
    		padding: 10px;
    		background: white;
    	}

    	.ui.header.title {
    		font-family: 'Unica One', cursive;
    		width: 75vw;
    		margin: auto;
    		color: #FF3B3F;
				letter-spacing: 3px;
    	}

    	.shortcuts {
    		float: right;
    		color: gray;
    	}

    	.shortcuts .icon {
    		cursor: pointer;
    	}

    	.ui.segment.content-image {
    		width: 50%;
    		margin: 20px auto;
    	}

    	.user-actions {
    		position: absolute;
    		top: 10px;
    		right: 15px;
    	}

    	.user-actions .ui.basic.button {
    		box-shadow: 0 0 0 1px #FF3B3F inset;
    		background: white !important;
    	}

    	#tag-modal {
    		position: absolute;
    		width: 25%;
    		height: 100%;
    		right: 0px;
    		padding: 0px 20px;
    		display: none;
    	}

    	#tag-modal.active {
    		display: block;
    	}

    	.window.close.outline.icon {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
      }

      .window.close.outline.icon:hover {
        color: #CAEBF2;
      }
	  </style>
	</head>
  <body>
   	<div id="header">
  		<h1 class="ui header title"> PriCoSha 
  			<div class="shortcuts">
	  			<a href="/FriendGroups"><i class="users icon"></i></a>
	  			<a href="/home"><i class="home icon"></i></a>
	  			<a href="/logout"><i class="sign out icon"></i></a>
	  		</div>
  		</h1>
  	</div>
  	<div class="container">
  		<!-- Tag Content Modal -->
  		<% if (error) { %>
  		<div id="tag-modal" class="active">
  		<% } else { %>
  		<div id="tag-modal">
  		<% } %>
	  		<div class="ui raised fluid card tags">
	  			<form action="/content/<%=contentInfo.id%>/add-tags" method="POST">
		  			<div class="content" style="padding: 10px; border-bottom: solid 1px #dededf; padding-bottom: 0px">
		  				<div class="ui header"> Tag Photo </div>
		  				<i onclick="toggleModal('tag-modal')" class="window close outline icon"></i>
		  			</div>
  					<div class="content" style="padding: 15px 10px;">
  						<% if (error) { %>
  						<div class="error-message ui small negative message">
  							<ul class="list">
  								<% err.forEach((errString) => { %>
  									<li> <%= errString %> </li>
  								<% }) %> 
  							</ul>
  						</div>
  						<% } %>
		  				<div class="ui fluid selection search dropdown multiple">
		            <input name="tags" type="hidden">
		            <div class="default text">Tag people by username</div>
		            <i class="dropdown icon"></i>
		            <div class="menu"></div>
		          </div>
		        </div>
		        <input formaction="/content/<%=contentInfo.id%>/add-tags" type="submit" value="Tag User(s)" class="ui bottom attached button" style="width: 100%;">
		      </form>
	  		</div>
	  	</div>
  		<div class="ui segment content-image">
  			<h3 class="ui dividing header" style="padding-bottom: 10px"> 
  				<i class="camera retro icon"></i>
  				<div class="content"> 
  					<%= contentInfo.username %> 
  					<div class="user-actions">
  						<button onclick="toggleModal('tag-modal')" class="ui small labeled icon basic compact button tag"><i class="tag icon"></i>Tag Photo</button>
  						<% if (username === contentInfo.username) { %>
  						<button class="ui small labeled icon basic compact button edit"><i class="edit icon"></i>Edit</button>
  						<% } %>
  					</div>
  				</div>
  			</h3>
  			<img class="ui fluid image content-image" src="<%= contentInfo.file_path %>"/>
  			<div class="ui divider"></div>
  			<div class="content-info">
  				<b> <%= contentInfo.content_name %> </b> <br/>
          Posted at: <%= contentInfo.timest %> <br/>
          <% if (tagged !== null) { %>
          	Tagged: 
          	<% tagged.forEach((taggee) => { %>
          		<a class="ui small tag label"> <%= taggee.first_name %> <%= taggee.last_name %> </a>
          	<% }) %>
        	<% } %>
        	<div class="ui comments">
        		<% if (comments !== null) { %>
        		<div class="ui divider"></div>
        			<% comments.forEach((comment) => { %>
        				<div class="comment">
        					<a class="author"> <%= comment.username %> </a>
        					<div class="metadata"> 
        						<span class="date"> <%= comment.timest %> </span>
        					</div>
        					<div class="text"> <%= comment.comment_text %> </div>
        				</div>
        			<% }) %>
        		<% } %>
        	</div>
        	<div class="ui divider"></div>
 					<form action="/content/<%=contentInfo.id%>" method="POST">
	        	<div class="field">
	        		<div class="ui transparent fluid left icon input">
	        			<i class="comment icon"></i>
	        			<input formaction="/content/<%=contentInfo.id%>" type="text" name="comment" placeholder="Add Comment...">
	        		</div>
	        	</div>
	        </form>
        </div>
  		</div>
  	</div>
  	<script>
      function toggleModal(id) {
        var modal = document.getElementById(id);
        modal.classList.toggle("active");
      }
    </script>
  	<script>
      $(document).ready(function() {
        $('.ui.dropdown').dropdown({
          allowAdditions: true
        });

        $(document).on("keypress", '.ui.multiple.dropdown', function (e) {
          var code = e.keyCode || e.which;
          if (code == 13) {
            e.preventDefault();
            return false;
          }
        });

      })
    </script>
  </body>
</html>